<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body>
<div class="container">
    <h1>{% block title %}Home Page{% endblock %}</h1>
    <button name= "home" type="submit" class="btn btn-outline-dark">HOME</button>
</div>
<div class="container">
<form action="showInfo">
  <br><div class="form-group col-md-8">
    <label>Choose your TFS</label>
    <select class="form-control" name="tfs">
      <option>scoretfs.isbank</option>
      <option selected>kozmos.softtech</option>
    </select>
  </div>
  <div class="form-group col-md-8">
    <label>Choose your Collection!</label>
    <select class="form-control" name="collectionName">
      <option>ISBANK</option>
      <option selected>MeiyoCollection</option>
      <option>MeuCollection</option>
      <option>UpgradedCollection</option>
      <option>GitCollection</option>
      <option>SynergiaCollection</option>
      <option>TfsCollection</option>
    </select>
  </div>
  <div class="form-group col-md-8">
    <label>Write your Project Name!</label>
    <textarea class="form-control" name="projectName" rows="1"></textarea>
  </div>
  <br><div class="form-group col-md-8">
      <div class="nativeDateTimePicker">
          <label>Write your date for commit range of the Project</label>
          <br><input type="datetime-local" name="toDate" max="2017-01-01" value="2019-12-31">
          <input type="datetime-local" name="fromDate" min="2017-01-01" value="2017-01-01">
          </div>
  </div>
  <br><div class="form-group row"></div>
    <div class="col-sm-10">
        <button name = "submitName" value= "AllProjects" type="submit" class="btn btn-warning">All Project of Collection</button>
        <button name = "submitName" value= "serviceEndpoint" type="submit" class="btn btn-primary">Service Endpoint</button>
        <button name = "submitName" value= "serviceHooks" type="submit" class="btn btn-danger">Service Hooks</button>
        <button name = "submitName" value= "members" type="submit" class="btn btn-dark">Members</button>
        <button name = "submitName" value= "commits" type="submit" class="btn btn-warning">Commits</button>
        <button name = "submitName" value= "releaseProperty" type="submit" class="btn btn-primary">Release Properties</button>
        <button name = "submitName" value= "buildProperty" type="submit" class="btn btn-danger">Build
            Properties</button>
    </div>
</form>
</div>
</body>
</html>
{% endblock %}
