<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Members Page</title>
</head>
<body>
    <h3>You can find The Members of the {{ projectName1 }}</h3>
    <div class="conatiner">
        <table class="table table-bordered ">
            <thead>
                <tr>
                  <th scope="col">uniqueName</th>
                  <th scope="col">User Name</th>
                </tr>
              </thead>
            {% for key, val in SE.items() %}
              <tbody>
                <tr>
                  <td>{{ val }}</td>
                  <td>{{ key }}</td>
                </tr>
              </tbody>
                {% endfor %}
        </table>
    </div>
</body>
</html>
